body {
    font-family: Molengo, Ubuntu, Monaco, Verdana, Helvetica;
    margin-bottom: 30px;
}

pre {
    font-family: inherit;
    font-size: inherit;
    margin: 10px 0px 0px 20px;
    white-space: pre-wrap;
    text-align: justify;
}

table {
    border: solid 2px #bfbfbf;
}

th {
    padding: 1px 4px;
    background-color: #80c0ff;
}

tr:nth-child(odd) {
    background-color: #c7ffc7;
}

td {
    padding: 1px 4px;
}

a {
    color: #005e9b;
}

.help_cursor {
    cursor: help;
}

.markdown_note {
    display: inline-block;
    font-size: 12px;
    margin: 5px 0px 8px 105px;
    padding: 5px;
    border: solid 1px #e6e6fa;
}

/* Coding */

p code, pre {
    border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    color: #444444;
    font-size: 13px;
    font-family: Monaco, Monospace;
}

p code {
    padding: 3px 5px;
}

pre {
    padding: 5px 25px;
}

/* Flashs */

#flash_notice, #flash_alert {
    margin-top: 15px;
    padding: 3px 10px 3px 30px;
    width: 550px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid;
}

#flash_notice {
    background: #DFFFDF url(../images/success.png) no-repeat scroll 8px 50%;
    border-color: #9FCF9F;
    color :#005F00;
}

#flash_alert {
    background: #ffc7c7 url(../images/error.png) no-repeat scroll 8px 50%;
    border-color: #fe94a7;
    color: #ea002a;
}

/* Board */

div.board {
    display: table;
    width: 1174px;
    margin: 10px;
    border: solid 2px #bfbfbf;
    padding-bottom: 5px;
}

div.board h3 {
    border-bottom: solid 2px #bfbfbf;
    margin: 0px 3px 2px 3px;
    padding: 3px;
    text-align: center;
}

div.division {
    float: left;
    width: 390px;
}

.postit {
    float: left;
    padding: 7px 15px;
    margin: 7px;
    width: 150px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    text-align: center;
    color: black;
    background-color: #ffffa5;
    box-shadow: 3px 3px 3px #888;
    -moz-box-shadow: 3px 3px 3px #888;
    -webkit-box-shadow: 3px 3px 3px #888;
}

.postit a.title {
    display: block;
    height: 63px;
    margin: 10px 0px;
    padding: 0px;
    color: inherit;
    background-color: inherit;
}

.postit p {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.postit p a {
    padding: 0px;
    color: inherit;
    background-color: inherit;
}

.postit p.sponsor {
    text-align: right;
}

.postit p.top {
    text-align: left;
}

.postit p.top .comments_number {
    float: right;
    color: gray;
}

/* Comments */

.comment_wrapper {
    margin: 20px;
    padding: 10px;
    border: solid 1px #e6e6fa;
    width: 700px;
}

.comment_wrapper #comments_menu {
    margin: 10px 2px 2px 2px;
    text-align: right;
}

/* Legends */

ul.legends {
    padding: 0px;
    margin: 0px 0px 5px 10px;
    font-size: 12px;
}

ul.legends li {
    display: inline;
    margin-right: 2px;
    padding: 0px 3px;
}

/* Description */

.description {
    width: 700px;
    margin-left: 20px;
}

/* Forms */

div.field {
    margin: 2px 0px;
}

div.field li {
    list-style: none;
}

div.field li label {
    float: left;
    margin-right: 5px;
    text-align: right;
    width: 100px;
}

div.field li label:after {
    content: ':';
}

div.actions {
    width: 100px;
}

div.actions:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

div.actions input {
    margin: 15px 0px;
    float: right;
}

abbr {
    color: red;
}

