body {
    font-family: Molengo, Ubuntu, Monaco, Verdana, Helvetica;
}

pre {
    font-family: inherit;
    font-size: inherit;
}

table {
    border: solid 2px #bfbfbf;
}

th {
    padding: 1px 4px;
    background-color: #80c0ff;
}

tr:nth-child(odd) {
    background-color: #c7ffc7;
}

td {
    padding: 1px 4px;
}

a {
    padding: 1px 4px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: white;
    background-color: orange;
}

/* Board */

div.board {
    display: table;
    width: 1174px;
    margin: 10px;
    border: solid 2px #bfbfbf;
    padding-bottom: 5px;
}

div.board h3 {
    border-bottom: solid 2px #bfbfbf;
    margin: 0px 3px 2px 3px;
    padding: 3px;
    text-align: center;
}

div.division {
    float: left;
    width: 390px;
}

.postit {
    float: left;
    padding: 7px 15px;
    margin: 5px;
    width: 150px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border: solid 2px #f5f500;
    text-align: center;
    color: black;
    background-color: #ffffa5;
    box-shadow: 3px 3px 3px #888;
    -moz-box-shadow: 3px 3px 3px #888;
    -webkit-box-shadow: 3px 3px 3px #888;
}

.postit a.title {
    display: block;
    height: 63px;
    margin: 10px 0px;
    padding: 0px;
    color: black;
    background-color: #ffffa5;
}

.postit p {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    color: gray;
}

.postit p a {
    padding: 0px;
    background-color: #ffffa5;
    color: gray;
}

.postit p.sponsor {
    text-align: right;
}

.postit p.points {
    text-align: left;
}

