- form.inputs do
  = form.input :name, :label => 'Name'
  = form.input :description, :label => 'Description'
  = form.input :start, :label => 'Start', :as => :string
  = form.input :end, :label => 'End', :as => :string

