%h1.heading
  = t 'application.new_project'

- semantic_form_for(resource) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button t 'application.create'

%p.actions
  = link_to t('application.cancel'), collection_path

