/*
*= require_tree .
*= require_self
*/

body {
    padding-top: 40px;
    background-color: #EEEEEE;
}

.help_cursor {
    cursor: help;
}

/* Twitter bootstrap overwrite */

.btn {
    margin-right: 4px;
}

.container {
    width: 1235px;
}

.container > .content {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    padding: 20px;
    background-color: #FFFFFF;
}

/*@font-face {*/
/*  font-family: 'Molengo';*/
/*  font-style: normal;*/
/*  font-weight: normal;*/
/*  src: local('Molengo'), url('../fonts/Molengo-Regular.ttf') format('woff');*/
/*}*/

/*body {*/
/*    font-family: Molengo, Ubuntu, Monaco, Verdana, Helvetica;*/
/*    margin-bottom: 30px;*/
/*}*/

/*pre {*/
/*    font-family: inherit;*/
/*    font-size: inherit;*/
/*    margin: 10px 0px 0px 20px;*/
/*    white-space: pre-wrap;*/
/*    text-align: justify;*/
/*}*/

/*.markdown_note {*/
/*    display: inline-block;*/
/*    font-size: 12px;*/
/*    margin: 5px 0px 8px 105px;*/
/*    padding: 5px;*/
/*    border: solid 1px #e6e6fa;*/
/*}*/

/* Coding */

.highlight .hll { background-color: #ffffcc }
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #000000; font-weight: bold } /* Keyword */
.highlight .o { color: #000000; font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nl { color: #990000; font-weight: bold } /* Name.Label */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

/* Flashs */

/*#flash_notice, #flash_alert {*/
/*    margin-top: 15px;*/
/*    padding: 3px 10px 3px 30px;*/
/*    width: 550px;*/
/*    border-radius: 3px;*/
/*    -moz-border-radius: 3px;*/
/*    border: 1px solid;*/
/*}*/

/*#flash_notice {*/
/*    background: #DFFFDF url(../images/success.png) no-repeat scroll 8px 50%;*/
/*    border-color: #9FCF9F;*/
/*    color :#005F00;*/
/*}*/

/*#flash_alert {*/
/*    background: #ffc7c7 url(../images/error.png) no-repeat scroll 8px 50%;*/
/*    border-color: #fe94a7;*/
/*    color: #ea002a;*/
/*}*/

/* Board */

div.board {
    display: table;
    width: 1174px;
    margin: 10px;
    border: solid 2px #bfbfbf;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

div.board h3 {
    border-bottom: solid 2px #bfbfbf;
    margin: 0px 3px 2px 3px;
    padding: 3px;
    text-align: center;
}

div.division {
    float: left;
    width: 390px;
}

div.board ul {
    margin: 0px;
    padding: 0px;
}

.postit {
    float: left;
    padding: 7px 10px;
    margin: 7px;
    width: 160px;
    text-align: center;
    color: black;
    background-color: #ffffa5;
    box-shadow: 3px 3px 3px #888;
    -moz-box-shadow: 3px 3px 3px #888;
    -webkit-box-shadow: 3px 3px 3px #888;
    list-style: none;
}

.postit a.title {
    display: block;
    height: 63px;
    margin: 10px 0px;
    padding: 0px;
    color: inherit;
    background-color: inherit;
}

.postit p {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.postit p a {
    padding: 0px;
    color: inherit;
    background-color: inherit;
}

.postit p.postit_bottom {
    text-align: right;
}

p.postit_top {
    min-height: 16px;
}

.postit p.postit_top .comments_number {
    float: right;
    color: gray;
}

.postit p.postit_top span.show_points {
    cursor: pointer;
    float: left;
    padding: 0px 7px;
}

.postit p.postit_top span.show_points:hover {
    background-color: #ececff;
    border-radius: 5px;
}

select.points_select {
    display: none;
    float: left;
    font-size: 12px;
}

div.assignees_block {
    float: right;
}

p.show_assignees {
    text-align: right;
    cursor: pointer;
    padding: 0 5px;
}

p.show_assignees:hover {
    background-color: #ececff;
    border-radius: 5px;
}

.assignees_form {
    font-size: 12px;
    position: absolute;
    display: none;
    padding: 5px;
    background-color: #bdbdbd;
    border-radius: 5px;
}

div.assignees_form input {
    float: right;
}

div.postit_options_block {
    float: left;
}

a.postit_options {
    display: block;
    height: 16px;
    width: 16px;
    background: transparent url(../images/options.png) no-repeat scroll 0px 50%;
}

.postit_bottom ul.postit_options_list {
    position: absolute;
    display: none;
    padding: 3px 8px;
    margin: -20px 0 0 20px;
    background-color: #bdbdbd;
    text-align: left;
    list-style: none;
    border-radius: 5px;
    font-size: 14px;
}

.postit_options_list li {
    padding-bottom: 1px;
}

/* Board score */

div.score {
    float: right;
    width: 240px;
    margin: -60px 145px 0 0;
    padding: 5px 20px;
    border-radius: 8px;
    background-color: #def3fa;
}

div.score h3 {
    margin: 0px;
    padding: 7px 0px 2px 40px;
    height: 32px;
    background: transparent url(../images/trophy.png) no-repeat scroll 	0px 50%;
}

div.score ol {
    margin: 10px 0px;
}

/* Board drag and drop */

.droppable {
    min-height: 150px;
    height: inherit
}

.ui-state-hover {
    background-color: #e3e9ff;
}

/* Legends */

ul.legends {
    padding: 0px;
    margin: 0px 0px 5px 10px;
    font-size: 12px;
}

ul.legends li {
    display: inline;
    margin-right: 2px;
    padding: 0px 3px;
}

/* Comments */

/*.comment_wrapper {*/
/*    margin: 20px;*/
/*    padding: 10px;*/
/*    border: solid 1px #e6e6fa;*/
/*    width: 700px;*/
/*}*/

/*.comment_wrapper #comments_menu {*/
/*    margin: 10px 2px 2px 2px;*/
/*    text-align: right;*/
/*}*/

/* Description */

/*.description {*/
/*    width: 700px;*/
/*    margin-left: 20px;*/
/*}*/

/* Forms */

/*div.field {*/
/*    margin: 2px 0px;*/
/*}*/

/*div.field li {*/
/*    list-style: none;*/
/*}*/

/*div.field li label {*/
/*    float: left;*/
/*    margin-right: 5px;*/
/*    text-align: right;*/
/*    width: 100px;*/
/*}*/

/*div.field li label:after {*/
/*    content: ':';*/
/*}*/

/*div.actions {*/
/*    width: 100px;*/
/*}*/

/*div.actions:after {*/
/*    content: '.';*/
/*    display: block;*/
/*    clear: both;*/
/*    height: 0;*/
/*    visibility: hidden;*/
/*}*/

/*div.actions input {*/
/*    margin: 15px 0px;*/
/*    float: right;*/
/*}*/

/*abbr {*/
/*    color: red;*/
/*}*/

/*.registrations div.field i {*/
/*    float: left;*/
/*    margin-left: 5px;*/
/*}*/

/*.registrations div.field input {*/
/*    float: left;*/
/*}*/

/*.registrations div.field:after {*/
/*    content: '.';*/
/*    display: block;*/
/*    clear: both;*/
/*    height: 0;*/
/*    visibility: hidden;*/
/*}*/

/*.registrations div.field li label {*/
/*    float: left;*/
/*    margin-right: 5px;*/
/*    text-align: right;*/
/*    width: 170px;*/
/*}*/

/*.registrations div.actions {*/
/*    width: 170px;*/
/*}*/

/*.remember_me {*/
/*    margin-left: 105px;*/
/*}*/

